<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @commentevent.event %>
</p>

<p>
  <strong>User:</strong>
  <%= @commentevent.user %>
</p>

<p>
  <strong>Commentbody:</strong>
  <%= @commentevent.commentbody %>
</p>

